/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 * {
  font-size: 16px;
  font-family: 'Voltaire', sans-serif;
  letter-spacing: 1.5;
}

:root {
  /*
  --rotterdamBlue: #0072BB;   
  --rotterdamRed: #ED1B24;
  --rotterdamWhite: white;
  --rotterdamBlack: Black;
  --rotterdamYellow: #fff480;
  --rotterdamTeal: #73C1A7;
  --rotterdamPink: #E790B3;
  --rotterdamNavy:#3D2C7A;
  --rotterdamRot: #DB2429;
  */

  --muchaPaper: #F0E7D6;
  --muchaPaper2: #dfd3bf;
  --muchaNavBrown: #DCAC6C;
  --muchaBlue: #639782;
  --muchaMonaco: #793e22;
  --muchaPoppy: #B95736;
  --muchaWhite: #E3DAB1;
  --muchaLightGreen: #C1B76C;
  --muchaDarkGreen: #A4946D;
  --muchaDeepBlue: #297881;
  --muchaDarkBrown: #56442A;
  --muchaBlack: #4B512E;
}

header {
  font-family: 'Voltaire', sans-serif;
  font-size: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-image: url(./images/gismonda-print.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#brand-logo {
  box-shadow:  1px 1px 4px 4px var(--muchaDarkBrown);
  /*border: 4px solid var(--muchaDarkBrown);*/
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 8px;
  color: var(--muchaMonaco);
  -webkit-text-stroke: 1.5px var(--muchaBlack); /*text border*/
  background-color: var(--muchaNavBrown);
}
nav ul a, nav .brand-logo {
  color: var(----muchaMonaco);
}

nav {
  background-color: var(--muchaNavBrown);
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);

}

.sidenav {  
  background-image: url(./images/gismonda-print.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul a {
  font-family: 'Voltaire', sans-serif;
  font-size: 22px;
  color: var(--muchaMonaco);
}

ul:not(.browser-default) {
  background-image: url(./images/gismonda-print.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  border-radius: 10px;
}

li a {
  font-size: 20px;
  letter-spacing: 5px;
  color: var(--muchaMonaco);
  -webkit-text-stroke: 1px var(--muchaBlack); /*text border*/
  background-color: var(--muchaNavBrown);
  font-size: 18px;
}

.mucha-nav {
  background-image: url(./images/gismonda-print.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

ul > li:hover {
  text-shadow: 0px 3px 0px var(--muchaLightGreen), 0px 6px 0px var(--muchaDarkGreen);
  transition: 250ms ease-in-out;
}

li a:hover {
  text-decoration: none;
  color: var(--muchaMonaco);
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: var(--muchaMonaco);
}

.cigar {
  background-image: url(./images/job-cigarettes-border-v.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.major-title {
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
  border-radius: 10px;
}



body {
  background: var(--muchaPaper);
  font-family: sans-serif
}

.mucha-container {
  background-color: var(--muchaNavBrown);
  margin: 15px;
  border-radius: 20px;
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
}

article {
  font-family: 'helvetica';
  color: var(--muchaBlack);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


  #index-banner {
    min-height: 100px;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 536px) {
  #logo-container {
    width: 150px;
    display: contents;
    font-size: 28px;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.mucha {
  background-color: var(--muchaNavBrown);
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
  font-family: 'Voltaire', sans-serif;


}

h5 {
  color: var(--muchaDeepBlue);
  -webkit-text-stroke: 1px var(--muchaBlack); /*text border*/
}


/*
font-family: 'Bebas Neue', cursive;
font-family: 'Righteous', cursive;
font-family: 'Voltaire', sans-serif;
*/

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactIcon {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 45px;
  background-color: var(--muchaBlack);
  transition: ease-in-out .1s;
  margin: 25px;
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
}

.contactIcon a {
  justify-content: center;  
  height: 80px;
  width: 80px;
  border-radius: 45px;
  color: transparent;
}

.contactIcon:hover {
  transform: scale(1.05);
}

#contact1 {
  background-image: url(./images/linkedin-icon.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

#contact2 {
  background-image: url(./images/email-icon.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

#contact3 {
  background-image: url(./images/github-icon.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}

.footer-copyright {

}