/* Window wide section */
* {
  font-size: 18px;
  font-family: 'Voltaire', sans-serif;
  letter-spacing: 1.5;
}

html {
  scroll-behavior: smooth;
}

:root {
  /*
  --rotterdamBlue: #0072BB;   
  --rotterdamRed: #ED1B24;
  --rotterdamWhite: white;
  --rotterdamBlack: Black;
  --rotterdamYellow: #fff480;
  --rotterdamTeal: #73C1A7;
  --rotterdamPink: #E790B3;
  --rotterdamNavy:#3D2C7A;
  --rotterdamRot: #DB2429;
  Might use this color scheme later on
  */
  --muchaPaper: #F0E7D6;
  --muchaPaper2: #dfd3bf;
  --muchaNavBrown: #DCAC6C;
  --muchaBlue: #639782;
  --muchaMonaco: #793e22;
  --muchaPoppy: #B95736;
  --muchaWhite: #E3DAB1;
  --muchaLightGreen: #C1B76C;
  --muchaDarkGreen: #A4946D;
  --muchaDeepBlue: #297881;
  --muchaDarkBrown: #56442A;
  --muchaBlack: #4B512E;
}


/* Header Section */
header {
  font-family: 'Voltaire', sans-serif;
  font-size: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-image: url(./images/gismonda-print.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#brand-logo {
  box-shadow:  1px 1px 4px 4px var(--muchaDarkBrown);
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 8px;
  color: var(--muchaMonaco);
  -webkit-text-stroke: 1.5px var(--muchaBlack); /*text border*/
  background-color: var(--muchaNavBrown);
}

#logo-container {
  color: var(--muchaMonaco);
}


/* Nav bar  */
nav ul a, nav .brand-logo {
  color: var(----muchaMonaco);
}

nav {
  background-color: var(--muchaNavBrown);
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
}

nav ul a {
  font-family: 'Voltaire', sans-serif;
  font-size: 22px;
  color: var(--muchaMonaco);
}

li {
  border-radius: 10px;
}

li a {
  font-size: 20px;
  letter-spacing: 5px;
  color: var(--muchaMonaco);
  -webkit-text-stroke: 1px var(--muchaBlack); /*text border*/
  background-color: var(--muchaNavBrown);
  font-size: 18px;
}

ul > li:hover {
  text-shadow: 0px 3px 0px var(--muchaLightGreen), 0px 6px 0px var(--muchaDarkGreen);
  transition: 250ms ease-in-out;
}

li a:hover {
  text-decoration: none;
  color: var(--muchaMonaco);
}

ul:not(.browser-default) {
  background-color: var(--muchaBlue);
}

.sidenav-trigger {
  color: var(--muchaMonaco);
}


/* Hamburger  */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



/* Main Body Cards */
#description-container {
  width: 100%;
}

#description-row {
  display: flex;
  align-items: center;
}


#description {
  display: flex;
}

.headshot {
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}

p {
  line-height: 2rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a  {
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
  border-radius: 10px;
  background-color: var(--muchaNavBrown);
  padding: 5px;
  text-decoration: none;
  color: var(--muchaBlack)
}

.links a:hover  {
  transform: scale(1.05);
  box-shadow:  2px 2px 4px 2px var(--muchaDarkBrown);
  transition: ease-in-out .05s;
}

.major-title {
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
  border-radius: 10px;
  background-color: var(--muchaNavBrown);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  -webkit-text-stroke: 1px var(--muchaMonaco); /*text border*/
  color: var(--muchaDarkBrown);
}

h5 {
  color: var(--muchaDeepBlue);
  -webkit-text-stroke: 1px var(--muchaBlack); /*text border*/
}

body {
  background: var(--muchaPaper);
  font-family: sans-serif
}

.mucha-container {
  background-color: var(--muchaNavBrown);
  margin: 15px;
  border-radius: 20px;
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
}

article {
  font-family: 'helvetica';
  color: var(--muchaBlack);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

#index-banner {
  min-height: 100px;
}




/* Footer Section  */
.mucha {
  background-color: var(--muchaNavBrown);
  box-shadow:  0px 0px 4px 1px var(--muchaDarkBrown);
  font-family: 'Voltaire', sans-serif;
}

footer.page-footer {
  margin: 0;
  color: var(--muchaDarkBrown);
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-bio {
  padding-right: 85px;
  color: var(--muchaDarkBrown);
}

.contactIcon {
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-color: var(--muchaBlue);
  transition: ease-in-out .1s;
  margin: 20px;
  box-shadow:  0px 0px 4px 1px var(--muchaDeepBlue);
}

.contactIcon a {
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 110px;
  width: 110px;
  border-radius: 55px;
  color: transparent;
}

.contactIcon:hover {
  transform: scale(1.05);
}

#footertext {
  font-family: Helvetica, sans-serif;
  color: var(--muchaBlack);
  font-size: 12px;
  margin: 0px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #description-row {
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 630px) {
  #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #contact-bio {
    padding-right: 0px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 536px) {
  #logo-container {
    width: 150px;
    display: contents;
    font-size: 28px;
  }
}

